//
// Variables
// --------------------------------------------------


//== Grid system

	// Should it be responsive?
	$responsive: true;

	//** Number of columns in the grid.
	$grid-columns:              12;

	//** Margin between columns.
	// Gets divided in half for the left and right.
	$grid-gutter-width:         30px;


	// Grid Sizes 
	// (1140gs default) { 1200 / 12 - gutter } { (70 + 30) * 12 - (30 / 2) }
	$column-width: 				70px;


	// Grid (960gs) { 990 / 12 - gutter } { (52.5 + 30) * 12 - (30 / 2) }
	//$column-width: 			52.5px;



	//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
	$screen-xs:                  480px;
	$screen-sm:                  768px;
	$screen-md:                  1024px;
	$screen-lg:                  1200px;

	// So media queries don't overlap when required, provide a maximum
	$screen-xs-max:              ($screen-sm - 1);
	$screen-sm-max:              ($screen-md - 1);
	$screen-md-max:              ($screen-lg - 1);


//== Typography

	$default-font-name-regular:  opensans_regular;
	$default-font-name-italic:   opensans_italic;
	$default-font-name-semibold: opensans_semibold;
	$default-font-name-bold:     opensans_bold;

	//## Font, line-height, and color for body text, headings, and more.

	$font-family-sans-serif:  Helvetica Neue, Helvetica, Arial, sans-serif;
	$font-family-serif:       Georgia, Times New Roman, Times, serif;
	
	//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
	$font-family-monospace:   Menlo, Monaco, Consolas, Courier New, monospace;
	
	//** Default Scaffolding <body>
	$font-family-base:        $default-font-name-regular,$font-family-sans-serif;

	$font-size-base:          14px;
	$font-size-xs:            ceil(($font-size-base * 0.85)); // ~12px
	$font-size-sm:            ceil(($font-size-base * 1.25)); // ~18px
	$font-size-md:            ceil(($font-size-base * 1.7));  // ~24px
	$font-size-lg:            floor(($font-size-base * 2.15));// ~30px
	$font-size-xlg:           floor(($font-size-base * 2.6)); // ~36px

	//** `line-height` for use in components like buttons.
	$line-height-base:        1.428571429; // 20/14

	//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
	$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

	//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

	$padding-base-vertical:     4px;
	$padding-base-horizontal:   ($padding-base-vertical * 3);
	$border-radius-base:        0px;


//== Colors declare (import from palette files)

	$border-default:         $gray-lighter;
	

	//** Background color for `<body>`.
	$body-bg:               $White;
	//** Global text color on `<body>`.
	$text-color:            $gray-dark;

	//** Global textual link color.
	$link-color:            $ModerateBlue;

	//** Link hover color set via `darken()` function.
	$link-hover-color:      darken($link-color, 15%);

	//** Link hover decoration.
	$link-hover-decoration: underline;
