include ../variables/vars.pug

doctype html
html(lang="en")

	include ../layout/email/head.pug

	body(style=$bodyReset)
		table.container-table(width="600",style=$tableResetMain)
			tr
				td
					// header
					include ../layout/email/header.pug
					// ./header:end
					// wrapper
					include ../includes/email/base.pug
					// ./wrapper:end
					// footer
					include ../layout/email/footer.pug
					// ./footer:end
