include ../variables/vars.pug

doctype html
html(lang="en")
	
	include ../layout/head.pug

	body

		// HEADER
		include ../layout/header.pug
		// ./HEADER

		// MAIN
		main.grid.grid--main
			
			section.grid__wrap.widget-1001

				div.grid__row
					
					article.grid__cell.grid__cell--sm-6
			
						div.grid__box
							// title
							h3
								span.text.text--lg.text--gray
									| Sessioni:

							ul.nav.nav--block
								li.nav__item
									a(href=$base_url+"web.html")
										span.icon.icon--angle-right-xs
										| &nbsp;
										| Web Template

								li.nav__item
									a(href=$base_url+"email.html")
										span.icon.icon--angle-right-xs
										| &nbsp;
										| Email Template


		// ./MAIN
		
		// FOOTER
		include ../layout/footer.pug
		// ./FOOTER

		// SCRIPTS		
		include ../layout/scripts.pug
		// ./SCRIPTS
