include ../variables/vars.pug

doctype html
html(lang="en")
	
	include ../layout/head.pug

	body
		// HEADER
		include ../layout/header.pug
		// ./HEADER

		// MAIN
		include ../includes/web/base.pug
		// ./MAIN

		// ./FOOTER
		include ../layout/footer.pug
		// .FOOTER
		
		// SCRIPTS
		include ../layout/scripts.pug
		// ./SCRIPTS
