.header {
    
    position: fixed;
    top:0;
    z-index: 10;
    background: $gray-dark;
    border-bottom: 2px solid $gray;
    box-shadow: 0px 1px 3px rgba(0, 0, 0,0.6);
        
    &__wrap {
        max-width: 100%;
    }
    
    &__brand {
        margin:0;
        padding: 5px 0;
        font-weight: 600;
        color:$gray-lighter;

        @media (min-width: $screen-sm) {
            float: left;
        }
        a {
            color: $White;

            &:hover {
                text-decoration: none;
                @include opacity(.5);
            }
        }
    }

}