div.grid__row
	article.grid__cell
		div.grid__box

			section.table
				article.table__row.table--heading
					div.table__cell.table__cell--4
						| Header 1
					div.table__cell.table__cell--4
						| Header 2
					div.table__cell.table__cell--4
						| Header 3

				- for (var i = 0; i < 5; i++) {

					article.table__row
						div.table__cell.table__cell--4
							| Lorem ipsum dolor sit amet
						div.table__cell.table__cell--4

							- if(i%2==0) {
								span.text.text--assertive
									| Consectetur adipisicing elit assetive
							- } else {
								span.text.text--balanced
									| Consectetur adipisicing balance
							- }

						div.table__cell.table__cell--4
							| Possimus suscipit vitae cupiditate vel enim magni omnis,
							| nulla facere commodi obcaecati labore est. Assumenda expedita unde hic.
				- }