- $White = "#FFFFFF"
- $GrayBase = "#000000"
- $BrightOrange  = "#F18628"
- $VeryGray  = "#D9D9D9"
- $VeryLightGray  = "#EFEFEF"
- $LightGray  = "#CDCDCD"

//- reset
- $bodyReset = "margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: "+$BrightOrange+";font-family:Arial,Helvetica, sans-serif"

- $tableResetBase = ";border-collapse: collapse;table-layout: fixed;border-spacing: 0;"

- $tableResetMain = "width:100%;max-width:600px;color: "+$GrayBase+$tableResetBase+"margin-right: auto;margin-left: auto;"

//- utils
- $button = "display:inline-block;padding: 12px 15px;font-size:14px;text-transform:uppercase;    text-decoration: blink;color:"+$White+";background:"+$BrightOrange+";border-radius: 10px;"
