// Block Grid
.grid {

    &__box {

		position: relative;
		float: left;
		width: 100%;
		padding: ($grid-gutter-width / 2);
		
		@include word-wrap;

		// box modifier
		&.grid__box {

			&--clear {
				padding: 0;
			}
		}
	}
}