// Block Grid
// cell in this progect : 4,8
.grid {
	&__cell {
     
        float: left;
        width: 100%;
        min-height: 1px;

        // cell modifier
        &.grid__cell {

        	&--clear {
				margin-left: 0!important;
				clear: left;
			}
        	
        	&--center {
	        	float: none;
				margin-right: auto!important;
				margin-left: auto!important;
				
				&:after {
					content: " ";
					display: block;
					clear: both;
				}
			}
	
	        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {

				&--sm-clear {
					margin-left: 0!important;
					clear: left;
				}

			}
			@media (min-width: $screen-md) and (max-width: $screen-md-max) {

				&--md-clear {
					margin-left: 0!important;
					clear: left;
				}

			}

        }

    }
}


// grid__cell Modifier (default : Mobile First)
// xs  : extra small ( < Mobile )
// sm  : small ( < tablet)
// md  : medium ( < Desktop)
// lg  : large
// xlg : extra large
@include make-grid-property(grid__cell, xs, 6, width);
[class*="grid__cell--xs"] + [class*="grid__cell--xs"] {
    margin-left: $grid-cell-margin-left;
}

@media (min-width: $screen-sm) {

	[class*="grid__cell--"] + [class*="grid__cell--"] {
        margin-left: $grid-cell-margin-left;
    }
    @include make-grid-property(grid__cell, sm, 6, width);
    @include make-grid-property(grid__cell, sm, 2, margin-left);
}

// @media (min-width: $screen-md) {

//     @include make-grid-property(grid__cell, md, 6, width);
//     @include make-grid-property(grid__cell, md, 2, margin-left);
// }

// @media (min-width: $screen-lg) {
//     @include make-grid-property(grid__cell, lg, 6, width);
//     @include make-grid-property(grid__cell, lg, 2, margin-left);
// }
