//
//
//
//      WRAP
//
//
//
// Set wrap width relative to user variables
$main-width: ($column-width * $grid-columns) + ($grid-gutter-width * ($grid-columns - 1));

// Get Gutter Margin Percentage for Grids
$grid-cell-margin-left: ($grid-gutter-width / $main-width) * 100%;


// Make Base Wrap
@mixin wrap {

  // Set wrap width if responsive
  @if $responsive == true
  {
    max-width:$main-width;
  }
  @else
  {
    width:$main-width;
  }
  margin: 0 auto;
  padding: 0 ($grid-gutter-width / 2);

}
//
//
//
//  Make property cell system
//
//
// make-grid-property(name_class, sm, 3, width)
// make-grid-property(name_class, sm, 3, margin-left)
@mixin make-grid-property ($name, $prefix, $length-max, $property) {
  // Define Individual Grid Classes
  @for $i from 1 through $grid-columns
  {

    @if $i == $length-max
    {
      // Calculate grid size in pixels
      $value: ($column-width * $i) + ($grid-gutter-width * ($i - 1));
      // Calculate grid size in Percentage
      $value: ($value / $main-width) * 100%;

      .#{$name}.#{$name}--#{$prefix}-#{$i}{
        @if($property == width) {
          width: $value;
        }
        @if($property == margin-left) {
          margin-left: ($value + $grid-cell-margin-left);
        }
      }
    }
  }
}