//
//
//
//  Make property Table system
//
//
// make-table-property(name_class, 3, width)
// make-table-property(name_class, 3, margin-left)
@mixin make-table-property ($name, $length-max, $property) {
  // Define Individual Grid Classes
  @for $i from 1 through $grid-columns
  {

    @if $i == $length-max
    {
      $value: percentage(($i / $grid-columns));

      .#{$name}.#{$name}--#{$i}{
        @if($property == width) {
          width: $value;
        }
        @if($property == margin-left) {
          margin-left: $value;
        }
      }
    }
  }
}