// opacity support IE
@mixin opacity($value){

  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);

}
// font-family: name + complete
@mixin font-family($name) {
  
  font-family: $name,$font-family-sans-serif;

}

// Word Wrapping
@mixin word-wrap() {
  -ms-word-break: break-all;
      word-break: break-all;
  // -webkit-hyphens: auto;
  //    -moz-hyphens: auto;
  //         hyphens: auto;
}

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
%clearfix {
  
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
// header delle tabelle
%global_heading {
  margin-right: -($grid-gutter-width / 2);
  margin-left: -($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
  @include font-family($default-font-name-bold);
  background: $VeryLightGray;
}
// reset delle ul nav
%global_nav {
  margin:0;
  padding: 0;
  list-style: none;
  @extend %clearfix;

}

%input_hidden {
  display: none;
  opacity: 1\9;
  width: 0px\9;
  height: 0px\9;      
  display: inline-block\9;
  padding: 0\9;
  margin: 0\9;
  border: 0\9;
}

