// cover
table.cover(width="100%", style="min-height:100px;background:"+$BrightOrange+$tableResetBase)
	tbody
		tr
			td.cover__content(style="padding: 0;line-height: 0;")
				img(style="width:100%;",src=""+$base_url+"img/email/uploads/cover-tmp1.png", alt="...|...")
// ./cover:end
table(width="100%", style="background:"+$White+$tableResetBase)
	tbody
		tr
			td(align="center")
				p(style="margin-top: 60px;font-size:16px;").
					Lorem ipsum dolor sit amet
// button					
table.button(width="100%", style="min-height:100px;background:"+$White+$tableResetBase)
	tbody
		tr
			td(align="center")
				a(href="#", style="margin-top: 12px;margin-bottom: 56px;"+$button).
					ISCRIVITI ALL A NEWSLETTER
// ./button:end