include ../variables/vars.pug

head

	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="description", content="..|..")
	meta(name="format-detection", content="telephone=no")
	meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height")

	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="apple-mobile-web-app-status-bar-style", content="black")
	meta(name="HandheldFriendly", content="true")
	meta(http-equiv="Expires", content="0")
	meta(http-equiv="Pragma", content="no-cache")
	meta(http-equiv="Cache-Control", content="no-cache")

	title=$app_title


	// STYLE
	include ../layout/styles.pug
