table.footer(width="100%",style="background:"+$BrightOrange+$tableResetBase)
	tbody
		tr
			td(style="padding:10px;font-size:10px;text-align:center;")
				| Copyright © 2016 Easy Wrap By L.Mario | 
				a(href="#",style="color:"+$White)
					| Privacy & Policy