table.header(width="100%",style="background:"+$White+$tableResetBase)
	tr(height="115px",valign="middle")
		th(style="padding-right:30px;padding-left:30px;text-align: left;background:"+$White+";")
			a(href=$base_url)
				img(src=$base_url+"img/email/logo/logo-xs-left.png", alt="...|...")

		th(style="padding-right:30px;padding-left:30px;text-align: right;background:"+$White+";")
			a(href=$base_url)
				img(src=$base_url+"img/email/logo/logo-xs-right.png", alt="...|...")
