head

	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="description", content="..|..")
	meta(name="format-detection", content="telephone=no")
	meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height")
	
	title=$app_title

	style.
		@media screen and (max-width:600px) {
		    table[class="container-table"] {
				width: 100% !important;
		    }
		}
		a:hover {
			opacity: 0.8;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$IEValue)";
			filter: alpha(opacity=80);
		}
	