.button {

	display: inline-block;
	margin-bottom: 0; // For input.btn
	padding: $padding-base-vertical $padding-base-horizontal;
	
	@include font-family($default-font-name-semibold);
	
	text-align: center;
	font-size: $font-size-base;
	line-height: $line-height-base;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid transparent;
	border-radius: $border-radius-base;
	white-space: nowrap;

	@include user-select(none);

}