.heading {

	@include font-family($default-font-name-semibold);
	font-size: $font-size-sm;//18px

	&.heading {
	
		&--bold {
			@include font-family($default-font-name-bold);
		}

		// font sizes
	    &--xs {
	      font-size: $font-size-xs;
	    }
	    &--md {
	      font-size: $font-size-md;//24px
	    }
	    &--lg {
	      font-size: $font-size-lg;//30px
	    }
	    &--xlg {
	      font-size: $font-size-xlg;//36px
	    }

		// font align
		&--center {
			text-align: center;
		}
		&--right {
			text-align: right;
		}

		&--uppercase {
			text-transform: uppercase;
		}
	}
}
