.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  line-height: 1;
  
  &:before {
    content: " ";
    display: block;
  }
  
  &.icon {
    &--right{
      float: left;
    }

    &--left{
      float: right;
    }

    &--center{
      margin: auto;
    }

    // 
    // icons
    // 
    &--angle-right-xs {
      &:before {
        @include sprite($angle-right-xs);
      }

    }
  }
}