.img {

	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
	
	@media (min-width: $screen-sm) {
		max-width: (100% - $grid-cell-margin-left);
	}

	&.img {

		&--full {
			max-width: 100%;
			width: 100%;
		}
		
		&--circle {
			@include border-radius(50%);
		}			
	}
}
