.nav {
    
    margin:0;
    padding: 0;
    list-style: none;
    @extend %clearfix;

    &--block {
        .nav__item {
            float: none;            
        }
    }
    
    &__item {
        position: relative;
        float: left;
        display: block;

        > a {
            display: block;
            padding: 5px;
            font-weight: 700;
            text-decoration: none;
            color:$BrightOrange;
        }
    }
}
