.table {
    
    width: 100%;
    min-height: 157px;
    margin:0;
    padding: 0 ($grid-gutter-width / 2);
    font-size: $font-size-xs;
    border: 1px solid $LightGray;
    
    &,
    &__row {
        @extend %clearfix; 
    }
    &__row {
        display: block;
        
        & + & {
            border-top: 1px solid $LightGray;
        }
        &:first-child + & {
            border-top: 0
        }
        
        &.table__row {
            &--clear-border {
                border-top: 0;
            }
        }
    }
    
    &__cell {
        float: left;
        width: 100%;
        min-height: 1px;
        padding-top: ($grid-gutter-width / 3);
        padding-bottom: ($grid-gutter-width / 3);
        @include word-wrap();

        &.table__cell {

            &--text-center {
                text-align: center;
            }
        }

    }
    // ./ grid
    // style
    &--heading {
        @extend %global_heading;
    }

}
// table__cell Modifier
@include make-table-property(table__cell,4, width);