.text {
	display: inline-block;
	width: 100%;
	min-height: 1px;
	font-weight: normal;

	&.text {

		// custom position
		&--pull {
			&-right {
				float: right;
				display: block;
				width: auto;
				padding-left: ($grid-gutter-width / 6);
			}
			&-left {
				float: left;
				display: block;
				width: auto;
				padding-right: ($grid-gutter-width / 6);
			}
		}

		// font sizes
	    &--xs {
	      font-size: $font-size-xs;// 12px
	    }
	    &--sm {
	      font-size: $font-size-sm;//18px
	    }
	    &--md {
	      font-size: $font-size-md;//24px
	    }
	    &--lg {
	      font-size: $font-size-lg;//30px
	    }
	    &--xlg {
	      font-size: $font-size-xlg;//36px
	    }

		// font align
		&--center {
			text-align: center;
		}
		&--right {
			text-align: right;
		}

		&--uppercase {
			text-transform: uppercase;
		}
		// colors
		&--light {
			color: $White
		}
		&--positive {
			color: $StrongBlue
		}
		&--assertive {
			color: $Pure
		}
		&--dark {
			color: $DarkGray
		}
		&--gray {
			color: $gray-dark
		}
		&--balanced {
			color: $DarkLimeGreen
		}
		&--energized {
			color: $Energized
		}
	}
}
