@font-face {
  font-family: opensans_regular;
  src: url("../fonts/OpenSans/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'),
  url("../fonts/OpenSans/OpenSans-Regular-webfont.woff2") format('woff2'),
  url("../fonts/OpenSans/OpenSans-Regular-webfont.woff") format('woff'),
  url("../fonts/OpenSans/OpenSans-Regular-webfont.ttf") format('truetype'),
  url("../fonts/OpenSans/OpenSans-Regular-webfont.svg#open_sansregular") format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: opensans_italic;
  src: url("../fonts/OpenSans/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Italic-webfont.eot?#iefix") format('embedded-opentype'),
  url("../fonts/OpenSans/OpenSans-Italic-webfont.woff2") format('woff2'),
  url("../fonts/OpenSans/OpenSans-Italic-webfont.woff") format('woff'),
  url("../fonts/OpenSans/OpenSans-Italic-webfont.ttf") format('truetype'),
  url("../fonts/OpenSans/OpenSans-Italic-webfont.svg#open_sansitalic") format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: opensans_semibold;
  src: url("../fonts/OpenSans/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Semibold-webfont.eot?#iefix") format('embedded-opentype'),
  url("../fonts/OpenSans/OpenSans-Semibold-webfont.woff2") format('woff2'),
  url("../fonts/OpenSans/OpenSans-Semibold-webfont.woff") format('woff'),
  url("../fonts/OpenSans/OpenSans-Semibold-webfont.ttf") format('truetype'),
  url("../fonts/OpenSans/OpenSans-Semibold-webfont.svg#open_sanssemibold") format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: opensans_bold;
  src: url("../fonts/OpenSans/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix") format('embedded-opentype'),
  url("../fonts/OpenSans/OpenSans-Bold-webfont.woff2") format('woff2'),
  url("../fonts/OpenSans/OpenSans-Bold-webfont.woff") format('woff'),
  url("../fonts/OpenSans/OpenSans-Bold-webfont.ttf") format('truetype'),
  url("../fonts/OpenSans/OpenSans-Bold-webfont.svg#open_sansbold") format('svg');
  font-weight: 700;
  font-style: normal;
}
